<ion-header>
  <ion-toolbar>
    <ion-title>
      AVALIAÇÃO FISICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
    <!--<ion-card>
        <h2 id="charts">Ombro</h2>
          <div style="padding-top: 10px;">
            <canvas #chartLineAvaliacaoFisica width="400" height="300"></canvas>
          </div>
    </ion-card>-->
  
  <!--<ion-card>
      <h2 id="charts">Partes que treino (%)</h2>
        <div style="padding-top: 10px;">
          <canvas #chartDoughnutLucroMes width="400" height="300"></canvas>
        </div>
    </ion-card>-->

  <ion-card>
    <h2 id="charts">Membros Superiores</h2>
    <div style="padding-top: 10px;">
      <canvas #chartLineTorax width="400" height="300"></canvas>
    </div>
  </ion-card>

  <ion-card>
    <h2 id="charts">Membros Inferiores</h2>
    <div style="padding-top: 10px;">
      <canvas #chartLineInferiores width="400" height="300"></canvas>
    </div>
  </ion-card>

   <ion-card>
    <h2 id="charts">Tempo de treinamento (%)</h2>
    <div style="padding-top: 10px;">
      <canvas #chartRadar width="400" height="300"></canvas>
    </div>
  </ion-card>

  <ion-card>
    <h2 id="charts">TMB</h2>
    <div style="padding-top: 10px;">
      <canvas #chartBarTMBXV width="400" height="300"></canvas>
    </div>
  </ion-card>


</ion-content>
