<ion-header>
  <ion-toolbar>
    <ion-title>
      Personal Treiner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
				<div class="card">
					<div class="card-header">
						<div class="profile_pic">
							<img src="assets/rodrigo-3.jpg">
						</div>
					</div>
					<div class="card-body">
						<div class="d-lfex justify-content-center flex-column">
							<div class="name_container">
								<div class="name">Rodrigo Brandão</div>
							</div>
							<div class="address">Personal Treiner</div>
						</div>
					</div>
				</div>
  <h3>Cursos e Treinamentos</h3>
  <ul>
    <li>Treinamento de alguma, SP </li>
    <li>Treinamento de outra coisa, RJ </li>
    <li>Treinamento aleatorio, em algum lugar </li>
    <li>Curso de eu acho que já ta bom , AM </li>
  </ul>
			
</ion-content>
